%header
  .content
    .inner
      %h1 Keep your life organized
      %hr
      %p Welcome to the world of the tidy organizers, feel free to leave you notebook and pen out of the door :)
#action-banner
  %h1 Start writing notes for free!
  %p Just register in our cloud service and you're set to go!
  =link_to "Start Here", new_user_registration_path, class: 'action-button'
.awesome-three-cols
  .row
    .col-md-4
      %img{ src: image_url('icons/glove-fan.svg') }
      %hr
      %h1 Only you will know your secrets
      %p Your personal notes are secure with us, are you a 42's club secret member? shhh we too! ;)
    .col-md-4
      %img{ src: image_url('icons/golf.svg') }
      %hr
      %h1 Enjoy your free time more freely
      %p Your brain is not meant for holding ideas, go there and live new experiences, we hold your thoughts for you
    .col-md-4
      %img{ src: image_url('icons/mushroom.svg') }
      %hr
      %h1 Have extra time for games
      %p Do you remember all sneaky cheats? Are you sure? Just write them out over here!
