%header
  .content
    .inner
      %h1 Keep your life organized
      %hr
      %p Welcome to the world of the tidy organizers, feel free to leave you notebook and pen out of the door :)
#action-banner
  %h1 Start writing notes for free!
  %p Just register in our cloud service and you're set to go!
  =link_to "Start Here", new_user_registration_path, class: 'action-button'
